<html>
    <body>
        <h1>Counter</h1>
        <h3><%= data.count %></h3>
        <a href="/">Count</a>
        <a href="/reset">Reset</a>
        <a href="/add2">Click to add 2</a>
    </body>
</html>